<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20443103003-f4mjmnbl6ftbai34m707eo3148cfhkto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20443103003-f4mjmnbl6ftbai34m707eo3148cfhkto</string>
	<key>API_KEY</key>
	<string>AIzaSyA8lTC4Dv_6Y7SH-z7e5PlY1QTPtLWCy5w</string>
	<key>GCM_SENDER_ID</key>
	<string>20443103003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bucketlist</string>
	<key>PROJECT_ID</key>
	<string>bucket-list-59dd9</string>
	<key>STORAGE_BUCKET</key>
	<string>bucket-list-59dd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20443103003:ios:cffb77ec80fdc094dcddbe</string>
</dict>
</plist>